.heading{
	text-align: center;

}
h1.mainheading{
	font-size: 100px;
	font-family: myFirstFont;
}
a.toplist{
	font-family: verdana;
	font-size: 20px;
}
img{
	
	width: 30%;
	transform:rotate(90deg);
}
.gallery{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 50px;
}
@font-face {
   font-family: myFirstFont;
   src: url(Monoton-Regular.ttf);
}
